:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* * {
  outline: 1px solid rgba(0, 0, 0, 0.1);
} */

body {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  overflow-x: auto;
}

/* MAPS (mapbox containers only) */

#map-shaded {
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 128, 211);
  display: flex;
}

#map-search {
  height: 50vh;
  width: 40vw;
  background-color: rgb(162, 161, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*NAVIGATION BAR COMPONENT */

.navContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between; /* Separate the logo and buttons */
  height: 80px;
  background-color: rgb(95, 95, 169);
  padding: 0 20px; /* Add padding for spacing */
}

.navLogo {
  height: 130px;
  align-self: left;
  padding-left: 20px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-self: right;
}

.navContainer button {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-style: none;
  margin: 25px;
  background-color: rgb(163, 163, 201);
  transition: 0.2s;
  cursor: pointer;
}

.navContainer button:hover {
  background-color: rgb(137, 137, 154);
}

/* HOME PAGE */

/* entire home page */
.home-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home page below the navbar */
.home_page_content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: calc(100vh - 80px); /* subtracts navbar height */
  overflow: hidden;
}

/* just the map (left) */
.home_page_map {
  display: flex;
}

/* just the countries list (right) */
.countries-homepage-container {
  padding: 20px;
  overflow-y: scroll;
  background-color: lavender;
}

/* LOGIN COMPONENT */

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/planepath2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login {
  width: 400px;
  height: 450px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.login button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: rgb(73, 73, 148);
}

/* REGISTER COMPONENT */

.register-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/planepath2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.register {
  width: 400px;
  height: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.register button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register button:hover {
  background-color: rgb(73, 73, 148);
}

/* PROFILE "USER PAGE" COMPONENT */

/*OLD STYLING - keep for now, in case we dont like the update*/

/* .user-profile-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.user-profile-page-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  flex-direction: column;
}

.user-profile-page-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

.new-post-form-container {
  grid-column: 1;
}

.feed-container {
  grid-column: 2;
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
}

/* MapSearch COMPONENT (NEW POST FORM) */

#newpost-form button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newpost-form button:hover {
  background-color: rgb(73, 73, 148);
}

#newpost-form {
  width: auto;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.new_post_description {
  display: flex;
  flex-direction: row; /* Stack label and input vertically */
  align-items: center;
  justify-content: center;
}

/* FEED COMPONENT */
.post-card {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 3fr 2fr 1fr; /* Flexible row sizing */
  grid-template-areas:
    "IMAGE TITLE"
    "IMAGE BLURB"
    "IMAGE LOCATION"
    "IMAGE DELETE";
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 50vw;
  /* min-width: 850px; */
  height: auto;
  box-sizing: border-box;
}

.post-card:hover {
  cursor: pointer;
  transform: translateY(5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.post-card img {
  aspect-ratio: 4 / 5;
  object-fit: cover; /* crop img */
  width: 100%;
  height: auto;
  grid-area: IMAGE;
  border-radius: 4px;
}

.post-card h1,
.post-card h2,
.post-card h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-card h1 {
  grid-area: TITLE;
  font-size: 1.2em;
}

.post-card h2 {
  grid-area: BLURB;
  font-size: 1em;
  color: #555;
}

.post-card h3 {
  grid-area: LOCATION;
  font-size: 0.9em;
  color: #888;
}

.post-card button {
  grid-area: DELETE;
  font-size: 1rem;
  width: auto;
  max-width: 30%;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-card button:hover {
  background-color: rgb(75, 75, 149);
}

/* COUNTRY API LIST COMPONENT */

.countries_header {
  font-style: italic;
  color: rgb(62, 52, 67);
}

.alphabet_filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.alphabet_button {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(225, 208, 208);
  border: 1px solid rgb(154, 146, 146);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alphabet_button:hover {
  background-color: rgb(179, 147, 147);
}

.alphabet_button.active {
  background-color: rgb(95, 95, 169);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(75, 75, 149);
}

.countries_list_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.country_card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "NAME BUTTONS"
    "CAPITAL IMAGES"
    "FLAG IMAGES"
    "FLAG IMAGES";
  border: 2px solid rgb(66, 58, 99);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 1rem;
  width: 40%;
  min-width: 550px;
  box-sizing: border-box;
}

.country_name_link {
  grid-area: NAME;
  text-decoration: none;
  color: rgb(65, 65, 101);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.country_name_link:hover {
  text-decoration: underline;
  color: rgb(75, 75, 149);
}

.country_name {
  margin: 0;
}

#country_card_capital {
  grid-area: CAPITAL;
  font-style: italic;
  align-self: center;
}

.country_flag {
  grid-area: FLAG;
  width: 200px;
  height: auto;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 10px;
  justify-self: flex-start;
}

.country_buttons {
  grid-area: BUTTONS;
  padding-left: 10px;
  display: flex;
  width: fit-content;
  justify-self: end;
}

.like_country_button,
.visited_country_button {
  background-color: white;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: auto;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  align-self: center;
}

.like_button_icon,
.visited_button_icon {
  width: 100%;
  height: 100%;
}

.like_country_button:hover,
.visited_country_button:hover {
  transform: scale(1.1); /* Enlarges button slightly on hover */
}

#image_grid {
  grid-area: IMAGES;
  display: flex;
  gap: 5px;
  width: 100%;
  overflow-x: scroll;
  align-items: end;
  padding-left: 10px;
}

#image_grid img {
  height: 150px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* COUNTRY PAGE COMPONENT */

.country_page_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country_page_header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin: 10px;
  margin-left: 3rem;
  padding: 10px;
}

.country_page_header img {
  border-radius: 50%;
  margin-right: 20px;
}

.countries_page_name {
  font-size: 4rem;
}

.country_restaurants_container {
  background-color: rgb(95, 95, 169);
  width: 90vw;
  min-width: 700px;
  overflow-y: auto;
  height: 300px;
  margin: 20px;
  padding: 20px;
}

.country_attractions_container {
  background-color: rgb(95, 95, 169);
  width: 90vw;
  min-width: 700px;
  overflow-y: auto;
  height: 300px;
  margin: 20px;
  padding: 20px;
}
/* ATTRACTION COMPONENT */

#att-detail-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#att-detail-page-GRID {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(35vh - 3rem) calc(65vh - 3rem);
  grid-template-areas:
    "NAME REVIEWS"
    "IMAGE REVIEWS";
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}

#att-detail-page-TITLE-BLOCK {
  grid-area: NAME;
  background-color: lavender;
  margin-left: 2rem;
  margin-top: 2rem;
  padding-left: 0.8rem;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#att-detail-page-TITLE-BLOCK h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

#att-detail-page-TITLE-BLOCK h2,
#att-detail-page-TITLE-BLOCK h3,
#att-detail-page-TITLE-BLOCK h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

#att-detail-page-REVIEW-BLOCK {
  grid-area: REVIEWS;
  background-color: lavender;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#att-detail-page-REVIEW-BLOCK h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: rgb(51, 51, 65);
}

#att-detail-page-REVIEW-CARD {
  display: flex;
  flex-direction: column;
  text-wrap: auto;
  width: auto;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

#att-detail-page-NO-REVIEWS-MESSAGE {
  font-style: italic;
  color: gray;
}

#att-detail-page-SUBMIT-COMMENT textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#att-detail-page-SUBMIT-COMMENT button {
  padding: 10px 15px;
  background-color: rgb(185, 185, 222);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#att-detail-page-SUBMIT-COMMENT button:hover {
  background-color: rgb(153, 153, 178);
}

#att-detail-page-IMAGE-BLOCK {
  grid-area: IMAGE;
  background-color: lavender;
  padding: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#att-detail-page-IMAGE-BLOCK img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
