:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

#map-shaded,
#map-search {
  margin: 2vw;
  height: 40vh;
  width: 60vw;
  background-color: rgb(142, 128, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*NAVIGATION BAR COMPONENT */

.navContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between; /* Separate the logo and buttons */
  height: 80px;
  background-color: rgb(95, 95, 169);
  padding: 0 20px; /* Add padding for spacing */
}

.navLogo {
  height: 130px;
  align-self: left;
  padding-left: 20px;
}

.buttonContainer {
  display: flex;
  align-self: right;
}

.navContainer button {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-style: none;
  margin: 25px;
}

/* HOME PAGE */
.home-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN COMPONENT */

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 400px;
  height: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.login button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* REGISTER COMPONENT */

.register-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register {
  width: 400px;
  height: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.register button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(95, 95, 169);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* PROFILE "USER PAGE" COMPONENT */

.user-profile-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* COUNTRY API LIST COMPONENT */

.countries_container {
  display: flex;
  height: 400px;
  width: 90%;
  flex-wrap: wrap;
  overflow-y: auto;
  border: solid 2px black;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.country_flag {
  width: 200px;
}

/* COUNTRY PAGE COMPONENT */

.country-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country_card {
  border: solid 2px black;
  margin: 10px;
  padding: 15px;
}

/* FEED COMPONENT */
.post {
  background-color: white;
  border: 1px white solid;
  margin: 15px;
  padding: 10px;
}

.post img {
  width: 150px;
}

/* ATTRACTION COMPONENT */

#att-detail-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#att-detail-page-GRID {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(35vh - 3rem) calc(65vh - 3rem);
  grid-template-areas:
    "NAME REVIEWS"
    "IMAGE REVIEWS";
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}

#att-detail-page-TITLE {
  grid-area: NAME;
  background-color: blue;
  padding: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

#att-detail-page-REVIEWS {
  grid-area: REVIEWS;
  background-color: rgb(101, 101, 165);
  padding: 1rem;
  margin: 2rem;
}

#att-detail-page-IMAGE {
  grid-area: IMAGE;
  background-color: rgb(165, 165, 212);
  padding: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#photo-grid {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  size: 100%;
  overflow-y: scroll;
  gap: 0.5rem;
}

#photo-grid,
img {
  height: 150px;
}
